body {
  text-align: center;
  background-color: white;

  a {
    color: #575757;
    text-decoration: none;
  }

  .full-width {
    text-align: center;
    background-color: white;
    color: black;
  }

  .main-content {
    .pic {
      p {
        float: left;
        border: 0 0 0 0;
        margin: 0;
        background-color: #bef3ff;
      }
    }

    .paragraf {
      float: right;
      background-color: #bef3ff;
    }

    ul {
      li {
        display: inline-block;
        color: black;
        margin-left: 19px;
        text-transform: none;
        font-size: 17px;
        letter-spacing: 1.5px;
      }
    }
  }

  #book {
    color: black;
    background-color: red;
  }

  .img {
    margin: 0;
    padding-left: -10px;
    // background: url( ../../src/img/pic1.jpg);incercat si cu ele si nu a mers
    // ce ai facut in index?
    //pai......
    // intai, i-am dat height si width
    //care nu merge fara display:inline-block;
    //in index nu am facut nimic
    // apoi i-am dat restart la server ca nu stiu ce nu facea refresh
    // dar cam atat am facut:
    background: url("../../src/img/pic1.jpg") no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: inline-block;
  }

  .box {
    background-color: white;
    height: 100px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 600px;
    right: 450px;

    p {
      a {
        float: right;
        background-color: red;
        color: white;
      }
    }

    ul {
      float: left;
      margin-left: 0;
      padding: 0;
      position: relative;

      li {
        display: list-item;
        background-color: white;
        list-style-type: none;
        height: 50px;
        width: 150px;

        &:nth-child(1) {
          text-transform: none;
          font-size: 25px;
          letter-spacing: 1.5px;
        }

        &:nth-child(2) {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1.5px;
        }
      }

      &.guest {
        li {
          ul {
            display: none;
          }

          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }

  .titleS {
    margin: auto;
    background-color: white;
    margin-top: 150px;
    text-transform: capitalize;
    width: 900px;

    h4 {
      color: orange;
    }

    h5 {
      margin-top: 25px;
    }

    button {
      color: red;
      border: 1.5px;
      border-color: red;
      margin: 20px 0 40px;
    }
  }
  // nu merge ca padding sa fie 0
  .container {
    padding-top: 20px;
    padding-bottom: 20px;

    .orange {
      height: 70px;

      .firstImg {
        padding-right: 0;
        margin-right: 0;
      }

      .secondImg {
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
        // height:300px;
      }

      .thirdImg {
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
      }
    }

    .fourthImg {
      padding-right: 0;
      margin-right: 0;
      padding-left: 0;
      margin-left: 0;
    }

    .fifthImg {
      padding-right: 0;
      margin-right: 0;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .container {
    .explore {
      color: #f94343;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 3px;
      font-size: 19px;

      font-family: serif;
    }

    h2 {
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 40px;


    }
  }
}
//
