body {
  text-align: center;
  background-color: white;

  a {
    color: #575757;
    text-decoration: none;
  }

  .full-width {
    text-align: center;
    background-color: white;
    color: black;
  }

  .main-content {
    .pic {
      p {
        float: left;
        border: 0 0 0 0;
        margin: 0;
        background-color: #bef3ff;
      }
    }

    .paragraf {
      float: right;
      background-color: #bef3ff;
    }

    ul {
      li {
        display: inline-block;
        color: red;
        margin-left: 19px;
        text-transform: none;
        font-size: 17px;
        letter-spacing: 1.5px;

      }
    }
  }

  #book {
    color: black;
    background-color: red;
  }

  .img {
    margin: 0;
    padding-left:-10px;

    // background: url( ../../src/img/pic1.jpg);incercat si cu ele si nu a mers
    // ce ai facut in index?
    //pai......
    // intai, i-am dat height si width
    //care nu merge fara display:inline-block;
    //in index nu am facut nimic
    // apoi i-am dat restart la server ca nu stiu ce nu facea refresh
    // dar cam atat am facut:
    background: url("../../src/img/pic1.jpg");
    height:600px;
    width:100%;
    display: inline-block;

  }

  .box {
    background-color: blue;
    height: 100px;
    width: 80%;
    display: ce
    ul {
      float: left;
      li {
        display:list-item;

        background-color: black;
        list-style-type: none;
         height: 50px;
         width: 80px;


        &:nth-child(1) {
          text-transform: none;
          font-size: 25px;
          letter-spacing: 1.5px;
        }

        &:nth-child(2) {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
